.SearchBar {
    margin: 100px auto 20px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.SearchBar label {
    margin-right: 20px;
}

.searchInput {
    outline: none;
    width: 500px;
    height: 40px;

}

.list {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid #000;
    padding-left: 0;
    top: 23%;
    left: 44%;
    width: 500px;
    background: #FFF;
}